@model projects_management.Models.pm_project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pm_project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin_approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin_approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.p_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pm_User.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pm_User.firstname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
