@model IEnumerable<projects_management.Models.pm_project>

<p>
    
</p>
<table class="table"  id="mytable">
  <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.admin_approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pm_User.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pm_User1.firstname)
        </th>
    </tr>

</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.admin_approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pm_User.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pm_User1.firstname)
        </td>
      
    </tr>
}

</tbody>
</table>
