@model IEnumerable<projects_management.Models.pm_User>

@{
    ViewBag.Title = "InviteMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InviteMembers</h2>

<table class="table"  id="mytable">
  <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pm_Role.role_title)
        </th>
        <th></th>
    </tr>

</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pm_Role.role_title)
        </td>
        <td>
            <form method="POST" action="/Invitation/InviteMemberSave">
                @Html.AntiForgeryToken()
                <input type="hidden" value="@item.id" name="member_id" />
                <input type="hidden" value="@ViewBag.project_id" name="project_id" />
                <input type="submit" value="Invite"/>
            </form>
        </td>
    </tr>
}

</tbody>
</table>
